@model RestaurantGo.Models.RestauranteComida

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>

<div>
    <h4>Comida Restaurante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comida.COMIDA1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comida.COMIDA1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restaurante.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurante.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Volver al Listado", "Index")
</p>
