@model IEnumerable<RestaurantGo.Models.RestauranteComida>

@{
    ViewBag.Title = "Index";
}

<h2>Comida Restaurante</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comida.COMIDA1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restaurante.NOMBRE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comida.COMIDA1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurante.NOMBRE)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
