
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
                <!-- BEGIN TOP NAVIGATION MENU -->
                  <!-- using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"})) -->
    {
                    @Html.AntiForgeryToken()
                    <div class="page-sidebar-wrapper">
            <!-- BEGIN SIDEBAR -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">

                    <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->

                    <li class="nav-item active open">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="icon-home"></i>
                            <span class="title">Dashboard</span>
                            <span class="selected"></span>
                            <span class="arrow open"></span>
                        </a>
                        <ul class="dropdown sub-menu">

                            <li class="nav-item start ">
                                @Html.ActionLink("Usuarios", "Index", "Usuarios", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link title selected" })
                            </li>
                            <li class="nav-item start ">
                                @Html.ActionLink("Restaurante", "Index", "Restaurantes", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link title" })
                            </li>
                            <li class="nav-item start ">
                                @Html.ActionLink("Comida", "Index", "Comidas", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link title" })
                            </li>
                            <li class="nav-item start ">
                                @Html.ActionLink("Comentario", "Index", "Comentarios", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link title" })
                            </li>
                            <li class="nav-item start ">
                                @Html.ActionLink("Valoracion Restaurante", "Index", "RestauranteValoracions", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link title" })
                            </li>
                            <li class="nav-item start ">
                                @Html.ActionLink("Comida Favorita", "Index", "UsuarioComidas", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link title" })
                            </li>
                            <li class="nav-item start ">
                                @Html.ActionLink("Platos de Restaurante", "Index", "RestauranteComidas", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link title" })
                            </li>
                        </ul>
                    </li>
                </ul>

                <!-- END SIDEBAR MENU -->
                <!-- END SIDEBAR MENU -->
            </div>
            <!-- END SIDEBAR -->
        </div>
    }



}
else
{
    @Html.AntiForgeryToken()
    <div class="page-sidebar-wrapper">
        <!-- BEGIN SIDEBAR -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
            <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
            <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
            <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">

                <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->

                <li class="nav-item active open">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-home"></i>
                        <span class="title">Dashboard</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="dropdown sub-menu">

                    </ul>
                </li>
            </ul>

            <!-- END SIDEBAR MENU -->
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
    </div>
}

